<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Page</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>

    <!-- Form Container -->
    <div class="form-container">
      <h2>Log In</h2>
      <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
