<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="register.css" />
  </head>

  <body>
    <!-- This is the way of using component i.e NavBar -->
    <%- include("components/navbar.ejs") %>

    <!-- some html content -->
    <h1>Simple web page.</h1>
    <h2>This page is like stackoverflow website.</h2>
    <h3>This page is under construction. Please stay updated !</h3>
  </body>
</html>
